$tablet-width: 768px;
$suggestion-max-height: 400px;
$suggestion-element-height: 40px;

@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

:export {
    suggestionMaxHeight : $suggestion-max-height;
    suggestionElementHeight: $suggestion-element-height
}

.suggestion-wrap {
    position: relative;
    ul.suggestion {
        width: 400px;
        max-height: $suggestion-max-height;
        overflow: auto;
        display: none;
        position: absolute;
        @include mobile {
            width: 100%;
        }
        &.show {
            display: block;
        }
        li {
            cursor: pointer;
            box-sizing: border-box;
            height: $suggestion-element-height;
            list-style-type: none;
            padding: 5px;
            display: flex;
            align-items: center;
            &:nth-child(odd) {
                background: #fcfcfc;
            }
            &:nth-child(even) {
                background: #eeeeee;
            }
            &.selected {
                background: #ccc;
            }
            img {
                height: 100%;
                margin-right: 5px;
            }
            span {
                max-width: 50%;
            }
            button {
                font-family: inherit;
                margin-left: auto;
                border: 0;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background: #fcfcfc
                }
                &.hidden {
                    display: none;
                }
            }
        }
    }
}